<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
      						http://www.springframework.org/schema/context 
      						http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- scan -->
	<context:annotation-config />
	<context:component-scan base-package="net" />
	
	<!-- upload -->
	<bean id="multipartResolver"
      class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
      p:maxUploadSize="104857600" p:maxInMemorySize="10485760">
   	</bean>
   	
	<!-- sqlsession -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="typeAliasesPackage" value="net.shop.vo" />
        <property name="mapperLocations" value="classpath*:net/*_DAO.xml" />
        <property name="dataSource" ref="dataSource" />
    <!-- <property name="configLocation" value="/WEB-INF/spring/mysql-config.xml"></property> -->
    <!-- <property name="lobHandler" ref="lobHandler" /> -->
    </bean>
    
    <!-- datasource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost/studydb"></property>
        <property name="username" value="study"></property>
        <property name="password" value="study"></property>
    </bean>
    
    <!-- transaction -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<!-- beans -->
	<bean id="loginService" class="net.shop.service.LoginService"></bean>

	<!-- If request parameter "targetUrl" is existed, then forward to this url. For update login form--> 
	<bean id="savedRequestAwareAuthenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="targetUrlParameter" value="targetUrl" />
  	</bean>

    <!-- Jsonview -->
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <property name="contentType" value="application/json;charset=UTF-8"></property>
    </bean>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"></property>
    </bean>

    <!-- mail -->
    <bean id="mailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="userid@gmail.com" />
        <property name="password" value="userpassword" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
</beans>